.App {
  max-width: 70rem;
  margin: 10rem auto;
}


.characterList{
  display:  flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 gap: 10px;
}
.charchter{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.charchter-content{
  margin-top: 2rem;
}
.charchter-episode{
  margin-top: 2rem;
}